@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./assets/Adminportal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Hide spin buttons in Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }